<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Reservation System</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h2>Restaurant Reservation System</h2>
        <form action="/existing_user" method="get">
            <button type="submit" class="button-style">Existing User</button>
        </form>
        
        <form action="/new_customer" method="get">
            <button type="submit" class="button-style">New User</button>
        </form>
        <br>
        <h3>Admin Login:</h3>
        <form action="/admin/login" method="get">
            <button type="submit" class="button-style">Admin Login</button>
        </form>
    </div>
</body>
</html>
