<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Customer</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h2>Add New Customer</h2>
        <form action="/api/new_customer" method="post">
            <input type="text" name="username" placeholder="UserName" required>
            <input type="text" name="name" placeholder="Name" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="text" name="phone_number" placeholder="Phone Number" required>
            <input type="text" name="address" placeholder="Address" required>
            <button type="submit">Add Customer</button>
        </form>
    </div>
</body>
</html>
