<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outside Working Hours</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h2>Reservation Not Allowed</h2>
        <p>Reservations can only be made during the working hours of the restaurant (10 am to 11 pm).</p>
        <a href="/" class="button-style">Return Home</a>
    </div>   
</body>
</html>
